.floatLeft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.floatRight {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.blockCenter {
	clear: both;
	@include center-block;
}

.alignCenter {
	text-align: center;
}

.alignRight {
	text-align: right;
}

.alignLeft {
	text-align: left;
}